{% extends 'layout.html' %} {% block body %}
<div class="row mt-2">
  <div class="col">
    <form action="" method="Post">
      <div class="form-group">
        <label for="">Movie Name</label>
        <input type="text" class="form-control" name="Movie_name" />
      </div>
      <div class="form-group">
        <label for="">Director Name </label>
        <input type="text" class="form-control" name="Director_name" />
      </div>
      <div class="form-group">
        <label for="">Genres</label>
        <input type="text" class="form-control" name="Genres" />
      </div>
      <div class="form-group">
        <label for="">Release Date</label>
        <input type="date" class="form-control" name="Release_date" />
      </div>
      <div class="form-group">
        <label for="">Running Time</label>
        <input type="text" class="form-control" name="Running_time" />
      </div>

      <button type="submit" class="btn btn-primary btn-lg btn-block">
        Submit
      </button>
    </form>
  </div>
  <div class="col"></div>
</div>

{% endblock %}
